.hero-background-img {
    background-image: url("images/smellTheRoses.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 5%;
    font-size: 100px;
    font-weight: bolder;
    background-color: #F6648C;
    height: 350px;
}

.second-background-img {
    background-image: url("images/artsy_table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    font-size: 100px;
    font-weight: bolder;
    background-color: #F6648C;
    height: 250px;
}

h1 {
    font-size: 1.25em;
    color: white;
}

.lead {
    font-size: 30px;
}

.header1 {
    background-color: #fff8fa;
}

.header2 {
    background-color: #fee6ec;
}

.image_container img {
    transition:transform 0.25s ease;
}

.image_container img:hover {
    -webkit-transform:scale(1.15);
    transform:scale(1.15);
}